*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(51, 45, 45);
}
main{
    height: 100vh;
    display: flex;
    align-items: center;

}
header{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0 0 0;
}
header a{
    text-decoration: none;
    color: beige;
    font-size: 20px;
    padding: 1rem;
}
.grid-items{
    width: 50%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "a a a b b"
    "c c d d d"
    "c c e e e";
    gap: 15px;
}
.a{
    grid-area: a;
    background-color: aqua;
}
.b{
    grid-area: b;
    background-color: black;
}
.c{
    grid-area: c;
    background-color: brown;
}
.d{
    grid-area: d;
    background-color: coral;
}
.e{
    grid-area: e;
    background-color: deeppink;
}