* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "Big Shoulders Display", cursive;
}
header {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 30px 0 0 0;
}
header a {
  text-decoration: none;
  color: rgb(12, 12, 11);
  font-size: 20px;
  padding: 1rem;
}
main {
  width: 60%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fclass,
.sclass,
.tclass {
  padding: 1rem;
}
main h1 {
  padding: 20px 0;
  color: hsl(0, 0%, 95%);
}
main p {
  font-family: "Lexend Deca", sans-serif;
  margin: 0 0 2rem 0;
  color: hsla(0, 0%, 100%, 0.75);
}
main button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
}

main button:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
.fclass {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
}
.fclass button {
  color: hsl(31, 77%, 52%);
}
.sclass {
  background-color: hsl(184, 100%, 22%);
  width: 50%;
}
.sclass button {
  color: hsl(184, 100%, 22%);
}
.tclass {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50%;
}
.tclass button {
  color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 375px) {
  header {
    width: 80%;
  }
  main {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .fclass,
  .sclass,
  .tclass {
    border-radius: 10px;
    margin: 1rem;
  }
}
